@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: 'Poppins';
  padding: 0;
  margin: 0;
  font-size: 16px; }

div {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

.button.primary {
  font-size: 16px;
  font-weight: 600;
  background: linear-gradient(90deg, #db2955 0%, #ffc24d 100%);
  text-decoration: none;
  padding: 8px 15px;
  display: flex;
  align-items: center;
  color: #fff;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  border-radius: 20px;
  transition: 0.2s ease-in; }
  .button.primary:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); }

.header {
  max-width: 100vw;
  position: sticky;
  top: 0;
  height: 80px;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  color: #223844; }
  .header__wrapper {
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    .header__wrapper .logo {
      display: flex;
      align-items: center;
      max-height: 80px;
      height: 100%; }
      .header__wrapper .logo img {
        max-height: 50px;
        margin-right: 10px; }
      .header__wrapper .logo span {
        font-weight: 700;
        font-size: 22px; }
    .header__wrapper .nav {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      .header__wrapper .nav a:not(.button) {
        text-decoration: none;
        outline: none; }
        .header__wrapper .nav a:not(.button) span {
          text-decoration: none;
          padding: 10px;
          font-weight: 500;
          transition: 0.2s ease-in;
          background: -webkit-linear-gradient(#223844, #223844);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 16px; }
          .header__wrapper .nav a:not(.button) span:hover {
            background: -webkit-linear-gradient(45deg, #db2955 0%, #ffc24d 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; }
      .header__wrapper .nav .button {
        margin-left: 6px; }
